form{
    width: 80%;
    box-shadow: 10px 10px lightblue;
}

.form-div{
    display: flex;
    justify-content: center;
    text-align: center;
}

form>div{
    display: flex;
    padding: 10px;
}
form>div>*{
    padding: 7px 10px;
}
form>button{
    margin: 10px;

}